<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
  <meta name="author" content="Shao-Chung Chen">
  <meta name="description" content="Personal IRC Cloud">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600">
  <link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/screen.css">
  <style>
  </style>
</head>
<body>
  <div class="navbar">
    <a class="backbtn" href="#">&lt; Back</a>
    <a class="optbtn" href="#">⌘</a>
    <h1>#osdctw</h1>
  </div>

  <div class="infobar">
    irc.freenode.net / dannvix
  </div>

  <div class="content">
    <h2>Channel List</h2>
    <ul class="listview">
      <li>#osdc.tw</li>
      <li>#osdctw</li>
      <li>#g0v.tw</li>
    </ul>

    <div class="divider"></div>

    <h2>Private Chats</h2>
    <ul class="listview">
      <li>@dannvix</li>
      <li>@alice6589</li>
      <li>@bob3354</li>
    </ul>

    <div class="divider"></div>

    <ul class="mesgview">
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:31:25</span>
          <span class="nick">dannvix</span>
        </div>
        <div class="mesg">Hello world!</div>
      </li>
      <li class="mesgline incoming">
        <div class="meta">&nbsp;
          <span class="time">11:33:26</span>
          <span class="nick">alice6589</span>
        </div>
        <span class="mesg">遠山上不起靄，我在一個地方聽音樂，是怨，因此你得嚴格的為己，也不能給我們利益，約莫八九歲光景，我也是一般的不能恨</span>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:33:58</span>
          <span class="nick">dannvix</span>
        </div>
        <span class="mesg">日頭是自東徂西，隔晚，做事業的人們，那人道，現在小戶已負擔不起，在這黑暗之中，雖則不知，他倆雖沁漫在這樣樂聲之中，忘卻了溪和水，四城門的競爭，要是說一聲不肯，他倆雖沁漫在這樣樂聲之中，不像現時剝奪得淨盡，所能喚起的兒童時代，是妄是愚？</span>
      </li>
      <li class="mesgline action">
        <div class="meta">&nbsp;
          <span class="time">11:33:58</span>
          <span class="nick">guest</span>
        </div>
        <span class="mesg">參加 OSDC</span>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:34:31</span>
          <span class="nick">dannvix</span>
        </div>
        <span class="mesg">不像現時剝奪得淨盡，以為是他的同伴跟在後頭</span>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:34:41</span>
          <span class="nick">osdc-tw</span>
        </div>
        <span class="mesg"><a href="#">http://osdc.tw</a></span>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:31:25</span>
          <span class="nick">dannvix</span>
        </div>
        <div class="mesg">Hello world!</div>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:33:26</span>
          <span class="nick">alice6589</span>
        </div>
        <span class="mesg"><a href="#">http://example.org/#This_Is_a_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Very_Looooooooooooooooooonnnnnnnnnnnnnng_Url</a></span>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:33:58</span>
          <span class="nick">dannvix</span>
        </div>
        <span class="mesg">日頭是自東徂西，隔晚，做事業的人們，那人道，現在小戶已負擔不起，在這黑暗之中，雖則不知，他倆雖沁漫在這樣樂聲之中，忘卻了溪和水，四城門的競爭，要是說一聲不肯，他倆雖沁漫在這樣樂聲之中，不像現時剝奪得淨盡，所能喚起的兒童時代，是妄是愚？</span>
      </li>
      <li class="mesgline action">
        <div class="meta">&nbsp;
          <span class="time">11:33:58</span>
          <span class="nick">guest</span>
        </div>
        <span class="mesg">參加 OSDC</span>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:34:31</span>
          <span class="nick">dannvix</span>
        </div>
        <span class="mesg">不像現時剝奪得淨盡，以為是他的同伴跟在後頭</span>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:31:25</span>
          <span class="nick">dannvix</span>
        </div>
        <div class="mesg">Hello world!</div>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:33:26</span>
          <span class="nick">參</span>
        </div>
        <span class="mesg">遠山上不起靄，我在一個地方聽音樂，是怨，因此你得嚴格的為己，也不能給我們利益，約莫八九歲光景，我也是一般的不能恨</span>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:33:58</span>
          <span class="nick">dannvix</span>
        </div>
        <span class="mesg">日頭是自東徂西，隔晚，做事業的人們，那人道，現在小戶已負擔不起，在這黑暗之中，雖則不知，他倆雖沁漫在這樣樂聲之中，忘卻了溪和水，四城門的競爭，要是說一聲不肯，他倆雖沁漫在這樣樂聲之中，不像現時剝奪得淨盡，所能喚起的兒童時代，是妄是愚？</span>
      </li>
      <li class="mesgline action">
        <div class="meta">&nbsp;
          <span class="time">11:33:58</span>
          <span class="nick">guest</span>
        </div>
        <span class="mesg">參加 OSDC</span>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:34:31</span>
          <span class="nick">dannvix</span>
        </div>
        <span class="mesg">不像現時剝奪得淨盡，以為是他的同伴跟在後頭</span>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:31:25</span>
          <span class="nick">dannvix</span>
        </div>
        <div class="mesg">Hello world!</div>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:33:26</span>
          <span class="nick">alice6589</span>
        </div>
        <span class="mesg">遠山上不起靄，我在一個地方聽音樂，是怨，因此你得嚴格的為己，也不能給我們利益，約莫八九歲光景，我也是一般的不能恨</span>
      </li>
      <li class="mesgline myself">
        <div class="meta">&nbsp;
          <span class="time">11:33:58</span>
          <span class="nick">dannvix</span>
        </div>
        <span class="mesg">日頭是自東徂西，隔晚，做事業的人們，那人道，現在小戶已負擔不起，在這黑暗之中，雖則不知，他倆雖沁漫在這樣樂聲之中，忘卻了溪和水，四城門的競爭，要是說一聲不肯，他倆雖沁漫在這樣樂聲之中，不像現時剝奪得淨盡，所能喚起的兒童時代，是妄是愚？</span>
      </li>
      <li class="mesgline action">
        <div class="meta">&nbsp;
          <span class="time">11:33:58</span>
          <span class="nick">guest</span>
        </div>
        <span class="mesg">參加 OSDC</span>
      </li>
      <li class="mesgline">
        <div class="meta">&nbsp;
          <span class="time">11:34:31</span>
          <span class="nick">dannvix</span>
        </div>
        <span class="mesg">不像現時剝奪得淨盡，以為是他的同伴跟在後頭</span>
      </li>
    </ul>
  </div>
  <div class="chatbar">
    <a class="emojibtn" href="#">:)</a>
    <a class="submitbtn" href="#">〉</a>
    <div class="input">
      <input name="message" />
    </div>
  </div>
  <script type="text/javascript" src="javascripts/script.js"></script>
</body>
</html>